extends  container
block content
    h4 Dear, #{userName}
    p You have sent a request to change your password. You can do this by clicking on the link within 24 hours
    p
        a(href=`${URL}`) Change password
